body{
    font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
}
p, h1, form{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}
/* ----------- My Form ----------- */
.myform{
    margin: 0 auto;
    width: 400px;
    padding: 14px;
}
/*------------ tableau -------------*/
/*ajout des flèches vertes*/
table.tablesorter .header {
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-color: #F6AD37;
	background-position: 5px 12px;
}
table.tablesorter .headerSortUp {
	background-image: url(../img/asc.png);
}
table.tablesorter .headerSortDown {
	background-image: url(../img/desc.png);
}
table.tableau{
    display: inline;
	border-collapse: collapse;
	width: auto;
	text-align: center;
}

table.tableau th{
	color: #454545;
	font-weight: bold;
	padding: 8px 20px;
	border-bottom: 1px solid #FFFFFF;
	cursor: pointer;
}
table.tableau td{
	background: none repeat scroll 0 0 #ebf4fb;
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid transparent;
	color: #666699;
	padding: 8px;
	height: 41px;
}
table.tableau td.modifCell{
	display: none;
	-moz-border-radius: 0 10px 10px 0;
	-webkit-border-radius: 0 10px 10px 0;
	border-radius: 0 10px 10px 0;
	border: 1px solid transparent;
}
table.tableau td img{
    margin: auto 5px;
}
table.tableau tr:hover > td.modifCell{
	display: table-cell;
}
table.tableau tr:hover td{
	background:#FDF5CE;
	color:#1C94C4;
}
table.tableau td a span.ui-state-default{
    margin:5px;
    float:right;
}
table.inline{
    float:left;
    margin: 15px;
    width:auto;
}
.dialog button{
    display:block;
    clear:both;
    margin-left:45%;
}
.info{
	display:none;
}
.topLeft{
	-moz-border-radius:10px 0 0 0;
	-webkit-border-radius:10px 0 0 0;
	border-radius:10px 0 0 0;
}

.topRight{
	-moz-border-radius:0 10px 0 0;
	-webkit-border-radius:0 10px 0 0;
	border-radius:0 10px 0 0;
}
/*----------- boutton ajout --------*/
.btAjout{
    top: 15%;
    display: block;
/*    right: -100px;*/
    position: fixed !important;

}
/* ----------- messageDiv ----------- */
#message{
    display:none;
    position:fixed;
    top:50px;
    left:35%;
    width:400px;
    padding:10px;
    text-align:center;
    z-index: 999999px;
}
/* ----------- stylized ----------- */
#stylized{
    border:solid 2px #b7ddf2;
    background:#ebf4fb;
}
#stylized h1 {
    font-size:14px;
    font-weight:bold;
    margin-bottom:8px;
}
p{
    font-size:11px;
    color:#666666;
    margin-bottom:20px;
    border-bottom:solid 1px #b7ddf2;
    padding-bottom:10px;
}
#stylized label{
    display:block;
    font-weight:bold;
    text-align:right;
    width:140px;
    float:left;
    margin-top: 8px;
}
#stylized .small{
    color:#666666;
    display:block;
    font-size:11px;
    font-weight:normal;
    text-align:right;
    width:140px;
}
#stylized input,textarea{
    float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:200px;
    margin:0px 0 20px 4px;
}
#stylized button{
    margin-left:150px;
}
label.titre{
    display:block;
    font-weight:bold;
    text-align:right;
    float:left;
    margin: 10px 10px;
}
#CTRL td>label{
    width:100px;
}
#CTRL input,textarea{
    border:solid 1px #aacfe4;
    width:200px;
}
#CTRL td span{
    display:inline-block;
}
#CTRL td a{
    margin-left: 10px;
}
#CTRL button span + span{
    padding: .1em;
}
#CTRL .radio label:not(.ui-state-active) span{
    opacity:0.5;
}
#CTRL table{
    width: 600px;
    margin: auto auto auto 30px;
}
.ui-autocomplete-loading {
    background: white url('../img/ui-anim_basic_16x16.gif') right center no-repeat !important;
}
#CTRL table td.minWidth{
    min-width: 250px;
}
